<div id="task-config"><form action="#" autocomplete="off" id="task-form-config">
  <div id="fullboard-type" class="left"> Type 
    <select id="fullboard-type-select" autocomplete="off" name="type"><%- taskType %></select>
  </div>
  <div id="fullboard-num" class="right">Task 
    <select id="fullboard-num-select" autocomplete="off" name="num"><%- taskNum %></select>
  </div>
  <div id="fullboard-takeoff" class="left">take off
    <ul>
    <% for (var i = 0; i < turnpointType.takeoff.length; i++) { %>
      <%-  turnpointType.takeoff[i] %>
    <% } %>
    </ul>
  </div>
  <div id="fullboard-right-infos" class="right">
    <div id="fullboard-date" class="">Date 
      <span><%- taskInfo.date %></span>
    </div>
    <div id="fullboard-turn" class="">
      <span id="fullboard-arrow"><%- turn %></span>
      <span id="fullboard-turn-word"><%- taskInfo.turn %></span>
    </div>
  </div>
  <!--<div id="fullboard-start" class="left">start
    <span class="fullboard-value"></span>
  </div>--!>
  <div id="fullboard-times" class="right">
    <div id="fullboard-window" class="">window 
      <span id="window-open">open <%- times.open.takeoff %></span>
      <span id="window-close">close <%- times.close.takeoff %></span>
    </div>
    <div id="fullboard-task-deadline" class="">task deadline
      <ul>
        <li>
          <span id="ess-time"> ESS </span>
          <span class="value"><%- times.close['end-of-speed-section'] %></span>
        </li>
        <li>
          <span id="goal-time">Goal </span>
          <span class="value"><%- times.close['goal'] %></span>
        </li>
      </ul>
    </div>
  </div>
  <div id="fullboard-task" class="left">
    <span id="fullboard-turnpoint">turnpoints 
      <ul>
      <% for(var i=0; i < turnpoints.length; i++) { %>
        <% if (turnpoints[i].type == 'start' || turnpoints[i].type == 'turnpoint') { %>
          <li class="turnpoint tp-<%- turnpoints[i].type %>" index="<%- turnpoints[i].index %>">
            <span class="baseInfo">
              <%- turnpoints[i].id + " " + turnpoints[i].name %>
            </span>
            <span class="turnpoint tp-<%- turnpoints[i].mode %>"><%- turnpoints[i].mode %></span>
            <span class="turnpoint tp-radius"><%- turnpoints[i].radius %></span>
          </li>
        <% } %>
      <% } %>
      </ul>
    </span>
    <span id="fullboard-end-of-speed-section">end of speed section
      <ul>
      <% for (var i = 0; i < turnpointType['end-of-speed-section'].length; i++) { %>
        <%-  turnpointType['end-of-speed-section'][i] %>
      <% } %>
      </ul>
    </span>
    <span id="fullboard-goal">goal 
      <ul>
      <% for (var i = 0; i < turnpointType.goal.length; i++) { %>
        <%-  turnpointType.goal[i] %>
      <% } %>
      </ul>
    </span>
  </div>
  <div id='fullboard-task-distance' class='right'>distance <span><%- Math.round(taskInfo.distance) / 1000 %> Km</span></div>
</form></div>
<div id="export-task" class="export-full-task form-button"> Export Task !</div>
<div id="edit-task" class="edit-full-task form-button"> Edit Task !</div>
<div id="delete-task" class="delete-full-task form-button"> Delete Task !</div>
<span id="fullboard-xm">XM was here !</span>
