<% if (turnpoint.type == 'takeoff') { %>
  <li class="turnpoint tp-takeoff" index="<%- turnpoint.index %>">
    <span class="tp-id label label-default"><%- turnpoint.id %></span> 
    <span class="tp-name"><%- turnpoint.name %></span>
    <span class="tp-radius label label-info"><%- turnpoint.radius %>m</span>
    <% if (taskInfo.distances[turnpoint.index - 1]) { %>
      <span class="tp-distance label label-default"><%- taskInfo.distances[turnpoint.index - 1] %> Km</span>
    <% } %>
  </li>
<% } %>

<% if (turnpoint.type == 'start') { %>
  <li class="turnpoint tp-start" index="<%- turnpoint.index %>">
    <span class="tp-id label label-default"><%- turnpoint.id %></span>
    <span class="tp-name"><%- turnpoint.name %></span>
    <span class="tp-<%- turnpoint.mode %> label label-warning"><%- turnpoint.mode %></span>
    <span class="tp-radius label label-info"><%- turnpoint.radius %>m</span>
    <% if (taskInfo.distances[turnpoint.index - 1]) { %>
      <span class="tp-distance label label-default"><%- taskInfo.distances[turnpoint.index - 1] %> Km</span>
    <% } %>
  </li>
<% } %>

<% if (turnpoint.type == 'turnpoint') { %>
  <li class="turnpoint tp-turnpoint" index="<%- turnpoint.index %>">
    <span class="tp-id label label-default"><%- turnpoint.id %></span>
    <span class="tp-name"><%- turnpoint.name %></span>
    <span class="tp-radius label label-info"><%- turnpoint.radius %>m</span>
    <% if (taskInfo.distances[turnpoint.index - 1]) { %>
      <span class="tp-distance label label-default"><%- taskInfo.distances[turnpoint.index - 1] %> Km</span>
    <% } %>
  </li>
<% } %>

<% if (turnpoint.type == 'end-of-speed-section') { %>
  <li class="turnpoint tp-end-of-speed-section" index="<%- turnpoint.index %>">
    <span class="tp-id label label-default"><%- turnpoint.id %></span>
    <span class="tp-name"><%- turnpoint.name %></span>
    <span class="tp-<%- turnpoint.mode %> label label-warning"><%- turnpoint.mode %></span>
    <span class="tp-radius label label-info"><%- turnpoint.radius %>m</span>
    <% if (taskInfo.distances[turnpoint.index - 1]) { %>
      <span class="tp-distance label label-default"><%- taskInfo.distances[turnpoint.index - 1] %> Km</span>
    <% } %>
  </li>
<% } %>

<% if (turnpoint.type == 'goal') { %>
  <li class="turnpoint tp-goal" index="<%- turnpoint.index %>">
    <span class="tp-id label label-default"><%- turnpoint.id %></span>
    <span class="tp-name"><%- turnpoint.name %></span>
    <span class="tp-<%- turnpoint.goalType %> label label-warning"><%- turnpoint.goalType %></span>
    <% if (turnpoint.goalType != 'line') { %>
      <span class="tp-radius label label-info"><%- turnpoint.radius %>m</span>
    <% } %>
    <% if (taskInfo.distances[turnpoint.index - 1]) { %>
      <span class="tp-distance label label-default"><%- taskInfo.distances[turnpoint.index - 1] %> Km</span>
    <% } %>
  </li>
<% } %>
