<div class="panel panel-default gm-panel">
  <div class="panel-heading"><%- info.name %></div>
    <ul class="list-group">
      <li class="list-group-item id"> <span class="label label-default">Id</span>  <%- info.id %></li>
      <li class="list-group-item altitude"> <span class="label label-default">Altitude</span>  <%- altitude %> m</li>
      <li class="list-group-item lat"> <span class="label label-default">Latitude</span>  <%- info.x %></li>
      <li class="list-group-item lon"> <span class="label label-default">Longitude</span>  <%- info.y %></li>
      <li class="list-group-item filename"> <span class="label label-default">Source File</span>  <%- info.filename %> </li>
    </ul>
</div>
<div id="configure-turnpoint" filename="<%- info.filename %>" tid="<%- info.id %>" class="btn btn-success">
  Add To Task
</div>
